@import "src/styles/mixins";
@import "src/styles/variables";

.tab {
  margin: 0;
  &__title {
    padding: 10px 10px;
    color: darken($text-color, 100%);
    cursor: pointer;
    text-align: center;

    a {
      color: darken($text-color, 100%);
      text-decoration: none;

      @include primary-transition;

      &:hover {
        @include primary-transition;
        color: $active-tab-bg-color;
      }
    }
  }
}
