@import "src/styles/mixins";
@import "src/styles/variables";

.tab {
  margin: 0;

  &__header {
    @include flexRow;
    margin-bottom: 30px;
    width: max-content;
  }

  &__active-line {
    @include topLeftPosition(relative, -33px, 0);
    @include tab-transition;
    display: block;
    min-height: 3px;
    background: $active-tab-bg-color;
    z-index: 1;
  }

  &__body {
    &::before {
      display: block;
      content: "";
      background: darken($text-color, 50%);
      height: 3px;
      position: relative;
      top: -36px;
      z-index: 0;
    }
  }
}
