@import "src/styles/mixins";
@import "src/styles/variables";

.tab {
  margin: 0;
  width: min-content;
  &__header {
    @include flexRow;
    margin-bottom: 30px;
    border-bottom: 2px solid gray;
  }

  &__active-line {
    display: block;
    min-height: 4px;
    @include topLeftPosition(relative, -33px, 0);
    @include tab-transition;
    background: $active-tab-bg-color;
  }

  &__body {
    margin: 0;
  }
}
