@import "src/styles/mixins";
@import "src/styles/variables";

.tab {
  @include heightMinWidth(500px, 300px);
  width: calc(100% - 10px);
  margin-top: 8px;
  background-color: $tab-bg-color;

  &__header {
    @include flexRow;
    margin-bottom: 30px;
    position: relative;
    overflow-y: auto;

    &-line {
      display: inline-block;
      background: darken($text-color, 25%);
      @include widthHeight(100%, 3px);
      @include topLeftPosition(absolute, 46px, 0);
      z-index: 0;
    }

    &-active-line {
      @include topLeftPosition(absolute, 46px, 0);
      @include tabTransition;
      display: block;
      height: 3px;
      background: $active-tab-bg-color;
      z-index: 1;
    }
  }

  &__title {
    margin: 0;
    min-width: 100px;
    text-decoration: none;
  }

  &__body {
    @include tabContentTransition(0, 0, (opacity 0s 0s, max-height 0.1s));

    &--showed {
      padding-right: 15px;

      @include tabContentTransition(
        100%,
        1,
        (opacity 0.35s 0.15s, max-height 0s 1s)
      );
    }
  }
}
