.table {
  display: grid;
  grid-template-rows: 50px 1fr;
  align-items: center;

  &__header {
    display: grid;
    height: 100%;
    border: 2px solid gray;
    border-right: 0;
    grid-template-columns: repeat(4, 1fr);

    & > * {
      padding: 12px 0 0 10px;
      border-right: 2px solid gray;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50px;

    & > * {
      padding: 12px 0 0 10px;

      background-color: #cacaca;
    }
  }
}
