$sidebar-item-svg-color: invert(91%) sepia(18%) saturate(3064%) hue-rotate(316deg) brightness(119%) contrast(103%);
@mixin sidebarShadow {
  -webkit-box-shadow: 9px 0px 15px 0px rgba(0,0,0,0.41);
  box-shadow: 9px 0px 15px 0px rgba(0,0,0,0.41);
}