$main-bg-color: #393e46;
$sidebar-bg-color: #4e8d7c;
$text-color: #eeeeee;
$sidebar-item-icon-color: #f2d974;
$overlay-bg-color: rgba(0, 0, 0, 0.3);
$header-bg-color: #fcf8ec;
$drop-down-menu-bg-color: #cacaca;
$accordion-item-header-bg-color: #cacaca;
$accordion-item-active-header-bg-color: #4477ff;
$table-item-bg-color: #cacaca;
$active-tab-bg-color: #00aabb;
$tab-bg-color: #f8f8ff;
