@import "../styles/variables";
@import "../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  @include marginPadding(0, 0);
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.root {
  @include fullScreen;
  @include flexColumn;
}

.main {
  @include grid(1fr, 55px 1fr, 0);
  height: calc(100% - 50px);
  background-color: $main-bg-color;
}
