@import "../styles/variables";
@import "../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  @include marginPadding(0, 0);
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.root {
  display: grid;
  grid-template-rows: 55px 1fr;
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: 55px 1fr;
  background-color: $main-bg-color;
}
