@import "./src/styles/variables";
@import "./src/styles/mixins";

.header {
  background-color: $header-bg-color;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 10px;
  position: relative;

  &__title {
    text-decoration: none;
    color: darken($text-color, 75%);
    font-size: 1.4rem;
    font-weight: bolder;
    @include primary-transition;

    &:hover {
      color: darken($text-color, 50%);
      @include primary-transition;
    }
  }

  &__title-icon {
    font-size: 2rem;
    cursor: pointer;
    color: $sidebar-item-icon-color;
  }

  &__tooltip-menu {
    top: 35px;
    right: 5px;
  }
}
