@import "./src/styles/variables";
@import "./src/styles/mixins";

.header {
  background-color: $header-bg-color;
  height: 50px;
  @include flexRow;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 10px;
  position: relative;

  &__title {
    text-decoration: none;
    color: darken($text-color, 75%);
    font-size: 1.4rem;
    font-weight: bolder;
    @include primary-transition;

    &:hover {
      color: darken($text-color, 50%);
      @include primary-transition;
    }
  }

  &__title-icon {
    font-size: 2rem;
    cursor: pointer;
    color: $sidebar-item-icon-color;
  }

  &__tooltip-menu {
    @include headerMenusPositionTopRight;
  }

  &__drop-down-menu {
    @include headerMenusPositionTopRight;
    @include itemsAlignJustify(start, center);
    @include widthHeight(90px, 65px);
    @include grid(repeat(2, 1fr), 1fr, 0);
    background-color: $drop-down-menu-bg-color;
    border: 1px solid #fff;
    border-bottom: none;

    & > * {
      @include widthHeight(100%, 100%);
      padding-left: 8px;
      align-items: center;
      cursor: pointer;
      border-bottom: 1px solid #fff;
      @include primary-transition;
    }

    & > *:hover {
      @include primary-transition;
      background-color: darken($drop-down-menu-bg-color, 20%);
    }
  }
}
