@import "../../styles/mixins";
@import "../../styles/variables";

.accordion {
  @include widthHeight(400px, max-content);
  margin: 12px 0 0 14px;
  border: 2px solid $text-color;
  @include flexColumn;

  &:last-child {
    border-bottom: 0;
  }
}
