@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
  margin: 0;
  &-overlay {
    @include flexRow;
    position: absolute;
    background-color: $overlay-bg-color;
    z-index: 55555;
    width: 100%;
  }

  &-background {
    width: 100%;
  }

  &-content {
    @include widthMaxWidth(300px, 450px);
    @include sidebarShadow;
    @include flexColumn;
    height: calc(100vh - 55px);
    background-color: $sidebar-bg-color;

    &__burger {
      padding: 10px 0 0 13px;
      font-size: 2.9rem;
      cursor: pointer;
    }

    &__items {
      height: 100%;
      @include grid(repeat(3, 50px) auto, auto, 10px);

      &:last-child {
        align-items: end;
      }
    }
  }
}

.sidebar--closed {
  .sidebar {
    &-overlay {
      @include heightMaxWidth(inherit, 55px);
      background-color: inherit;
    }

    &-background {
      display: none;
    }

    &-content {
      @include minMaxWidth(55px, 55px);
      width: 55px;
      @include resetShadow;

      &__items {
        h3 {
          display: none;
        }
      }
    }
  }
}

.main {
  &__content {
    @include widthHeight(100%, calc(100vh - 55px));
    display: block;
    overflow: auto;
  }
}
