@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
  margin: 0;
  &-overlay {
    position: absolute;
    background-color: $overlay-bg-color;
    @include flexRow;
    z-index: 55555;
  }

  &-background {
    width: 100%;
  }

  &-content {
    @include sidebarShadow;
    @include flexColumn;
    min-height: calc(100vh - 55px);
    background-color: $sidebar-bg-color;

    &__burger {
      padding: 10px 0 0 13px;
      font-size: 2.9rem;
      cursor: pointer;
    }

    &__items {
      @include grid(repeat(3, 50px) auto, 1fr, 10px);

      &:last-child {
        align-items: end;
      }
    }
  }
}

.sidebar--closed {
  margin: 0;
  .sidebar {
    &-overlay {
      max-width: 55px;
      background-color: inherit;
    }

    &-background {
      display: none;
    }

    &-content {
      width: 55px;
      height: 100vh;
      @include resetShadow;

      &__items {
        h3 {
          display: none;
        }
      }
    }
  }
}

.main {
  &__content {
    width: 100%;
  }
}
